<title>OkayFeed - An acceptable place to aggregate SoMe</title>

<div class="jumbotron">
  <h1>OkayFeed</h1>
  <p>An acceptable place to aggregate SoMe</p>

  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>