// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_posts_notification {
  max-width: 300px;
  text-align: center;
  position: fixed;
  top: 70px;
}
